{{ attach_library('bri_admin/global') }}

{% if is_print == 'yes' %}
  <script>window.print();</script>
{% endif %}

{# Data pribadi #}
<table>
  <caption>Data Pribadi</caption>
  <tr>
    <th id="no-aplikasi">
      <strong>No. Aplikasi</strong>
    </th>
    <th id="jenis-kartu-kredit">
      <strong>Jenis Kartu Kredit</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail._id }}</td>
    <td>{{ detail.jenisKartuKredit }}</td>
  </tr>
  <tr>
    <th id="nama-lengkap">
      <strong>Nama Lengkap</strong>
    </th>
    <th id="nama-yang-dikehendaki-pada-kartu">
      <strong>Nama yang dikehendaki pada kartu</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.namaDepan ~ ' ' ~ detail.namaBelakang }}</td>
    <td>{{ detail.namaDiKartu }}</td>
  </tr>
  <tr>
    <th id="jenis-kelamin">
      <strong>Jenis Kelamin</strong>
    </th>
    <th id="kewarganegaraan">
      <strong>Kewarganegaraan</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.sexType == 1 ? 'Pria' : 'Wanita' }}</td>
    <td>{{ detail.kewarganegaraan }}</td>
  </tr>
  <tr>
    <th id="nik">
      <strong>NIK</strong>
    </th>
    <th id="tempat-lahir">
      <strong>Tempat Lahir</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.nik }}</td>
    <td>{{ detail.tempatLahir }}</td>
  </tr>
  <tr>
    <th id="tanggal-lahir">
      <strong>Tanggal Lahir</strong>
    </th>
    <th id="email">
      <strong>Email</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.tanggalLahir }}</td>
    <td>{{ detail.email }}</td>
  </tr>
  <tr>
    <th id="status-rumah">
      <strong>Status Rumah</strong>
    </th>
    <th id="tinggal-sejak">
      <strong>Tinggal Sejak</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.statusRumah }}</td>
    <td>{{ detail.tinggalSejak }}</td>
  </tr>
  <tr>
    <td colspan="2">
      <strong>Alamat Tempat Tinggal</strong>
    </td>
  </tr>
  <tr>
    <td colspan="2">{{ [detail.alamat1, detail.alamat2, detail.alamat3]|join(' ') }}</td>
  </tr>

  <tr>
    <th id="asal-kota">
      <strong>Asal Kota</strong>
    </th>
    <th id="telepon-rumah">
      <strong>Telepon Rumah</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.asalKota }}</td>
    <td>{{ detail.noTelp }}</td>
  </tr>
  <tr>
    <th id="no-handphone">
      <strong>No. Handphone</strong>
    </th>
    <th id="jumlah-tanggungan">
      <strong>Jumlah Tanggungan</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.noHp }}</td>
    <td>{{ detail.jumlahAnak }}</td>
  </tr>
  <tr>
    <th id="tingkat-edukasi">
      <strong>Tingkat Edukasi</strong>
    </th>
    <th id="nama-ibu-kandung">
      <strong>Nama Ibu Kandung</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.edukasi }}</td>
    <td>{{ detail.namaIbuKandung }}</td>
  </tr>
  <tr>
    <th id="status-pernikahan">
      <strong>Status Pernikahan</strong>
    </th>
    <th id="tanggal-pengajuan">
      <strong>Tanggal Pengajuan</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.statusNikah }}</td>
    <td>{{ detail.tanggalPengajuan }}</td>
  </tr>
  <tr>
    <th id="status-pengajuan">
      <strong>Status Pengajuan</strong>
    </th>
    <th id="status-pengajuan-2">
      <strong>&nbsp;</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.statusPengajuan }}</td>
    <td>&nbsp;</td>
  </tr>
</table>

{# Data keluarga terdekat #}
<table>
  <caption>Data Keluarga Terdekat</caption>
  <tr>
    <th id="nama-kontak-darurat"><strong>Nama Kontak Darurat</strong></th>
    <th id="hubungan"><strong>Hubungan</strong></th>
  </tr>
  <tr>
    <td>{{ detail.emergencyRelation.namaKontakDarurat }}</td>
    <td>{{ detail.emergencyRelation.hubungan }}</td>
  </tr>
  <tr>
    <td colspan="2"><strong>Alamat Tempat Tinggal</strong></td>
  </tr>
  <tr>
    <td colspan="2">{{ [detail.emergencyRelation.alamat1, detail.emergencyRelation.alamat2, detail.emergencyRelation.alamat3]|join(' ') }}</td>
  </tr>
  <tr>
    <th id="kota"><strong>Kota</strong></th>
    <th id="no-handphone"><strong>No. Handphone</strong></th>
  </tr>
  <tr>
    <td>{{ detail.emergencyRelation.emergencyCity }}</td>
    <td>{{ detail.emergencyRelation.noTelp }}</td>
  </tr>
</table>

{# Data pekerjaan #}
<table>
  <caption>Data Pekerjaan</caption>
  <tr>
    <th id="nama-perusahaan"><strong>Nama Perusahaan</strong></th>
    <th id="total-pegawai"><strong>Total Pegawai</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.namaPerusahaan }}</td>
    <td>{{ detail.jobInfo.totalPegawai }}</td>
  </tr>
  <tr>
    <th id="kategori-pekerjaan"><strong>Kategori Pekerjaan</strong></th>
    <th id="status-pekerjaan"><strong>Status Pekerjaan</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.kategoriPekerjaan }}</td>
    <td>{{ detail.jobInfo.statusPekerjaan }}</td>
  </tr>
  <tr>
    <th id="bidang-pekerjaan"><strong>Bidang Pekerjaan	</strong></th>
    <th id="sub-bidang-pekerjaan"><strong>Sub Bidang Pekerjaan		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.bidangPekerjaan }}</td>
    <td>{{ detail.jobInfo.subBidangPekerjaan }}</td>
  </tr>
  <tr>
    <th id="title-pekerjaan"><strong>Title Pekerjaan	</strong></th>
    <th id="bekerja-sejak"><strong>Bekerja Sejak		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.titelPekerjaan }}</td>
    <td>{{ detail.jobInfo.bekerjaSejak }}</td>
  </tr>
  <tr>
    <td colspan="2"><strong>Alamat Kantor					</strong></td>
  </tr>
  <tr>
    <td colspan="2">{{ detail.jobInfo.alamatPerusahaan1 }}</td>
  </tr>
  <tr>
    <th id="kota"><strong>Kota	</strong></th>
    <th id="kode-pos-kantor"><strong>Kode Pos Kantor		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.kotaPerusahaan }}</td>
    <td>{{ detail.jobInfo.kodePos }}</td>
  </tr>
  <tr>
    <th id="no-telp-kantor"><strong>No. Telp Kantor	</strong></th>
    <th id="penghasilan-per-tahun"><strong>Penghasilan (Per-Tahun)		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.teleponPerusahaan }}</td>
    <td>{{ detail.jobInfo.penghasilanPerTahun }}</td>
  </tr>
</table>

{# Informasi rekening BRI #}
<table>
  <caption>Informasi Rekening BRI</caption>
  <tr>
    <td colspan="2"><strong>No. Rekening</strong></td>
  </tr>
  <tr>
    <td colspan="2">{{ detail.rekening.no }}</td>
  </tr>
</table>


{# Autodebet #}
<table>
  <caption>Auto Debet</caption>
  <tr>
    <th id="no-rekening"><strong>No. Rekening</strong></th>
    <th id="sebesar"><strong>Sebesar		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.autodebet.noRekening }}</td>
    <td>{{ detail.autodebet.sebesar }}</td>
  </tr>
  <tr>
    <th id="bri-protection-plus"><strong>BRI Protection Plus	</strong></th>
    <th id="bri-protection-plus-2"><strong></strong></th>
  </tr>
  <tr>
    <td>{{ detail.autodebet.protectionPlan }}</td>
    <td></td>
  </tr>
</table>

{# Dokumen pribadi #}
<table>
  <caption>Dokumen Pribadi</caption>
  <tr>
    <th id="ktp"><strong>KTP	</strong></th>
    <th id="swafoto-ktp"><strong>Swafoto KTP		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.documents.ktpId ? 'Ada' : '-' }}</td>
    <td>{{ detail.documents.swafotoKtpId ? 'Ada' : '-' }}</td>
  </tr>
  <tr>
    <th id="npwp"><strong>NPWP	</strong></th>
    <th id="slip-gaji"><strong>Slip Gaji		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.documents.npwpId ? 'Ada' : '-' }}</td>
    <td>{{ detail.documents.slipGajiId ? 'Ada' : '-' }}</td>
  </tr>
</table>
