{{ attach_library('bri_admin/global') }}

{% if is_print == 'yes' %}
  <script>window.print();</script>
{% endif %}

{# Data pribadi #}
<table>
  <caption>Data Pribadi</caption>
  <tr>
    <th>
      <strong>No. Aplikasi</strong>
    </th>
    <th>
      <strong>Jenis Kartu Kredit</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail._id }}</td>
    <td>{{ detail.jenisKartuKredit }}</td>
  </tr>
  <tr>
    <th>
      <strong>Nama Lengkap</strong>
    </th>
    <th>
      <strong>Nama yang dikehendaki pada kartu</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.namaDepan ~ ' ' ~ detail.namaBelakang }}</td>
    <td>{{ detail.namaDiKartu }}</td>
  </tr>
  <tr>
    <th>
      <strong>Jenis Kelamin</strong>
    </th>
    <th>
      <strong>Kewarganegaraan</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.sexType == 1 ? 'Pria' : 'Wanita' }}</td>
    <td>{{ detail.kewarganegaraan }}</td>
  </tr>
  <tr>
    <th>
      <strong>NIK</strong>
    </th>
    <th>
      <strong>Tempat Lahir</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.nik }}</td>
    <td>{{ detail.tempatLahir }}</td>
  </tr>
  <tr>
    <th>
      <strong>Tanggal Lahir</strong>
    </th>
    <th>
      <strong>Email</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.tanggalLahir }}</td>
    <td>{{ detail.email }}</td>
  </tr>
  <tr>
    <th>
      <strong>Status Rumah</strong>
    </th>
    <th>
      <strong>Tinggal Sejak</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.statusRumah }}</td>
    <td>{{ detail.tinggalSejak }}</td>
  </tr>
  <tr>
    <td colspan="2">
      <strong>Alamat Tempat Tinggal</strong>
    </td>
  </tr>
  <tr>
    <td colspan="2">{{ [detail.alamat1, detail.alamat2, detail.alamat3]|join(' ') }}</td>
  </tr>

  <tr>
    <th>
      <strong>Asal Kota</strong>
    </th>
    <th>
      <strong>Telepon Rumah</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.asalKota }}</td>
    <td>{{ detail.noTelp }}</td>
  </tr>
  <tr>
    <th>
      <strong>No. Handphone</strong>
    </th>
    <th>
      <strong>Jumlah Tanggungan</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.noHp }}</td>
    <td>{{ detail.jumlahAnak }}</td>
  </tr>
  <tr>
    <th>
      <strong>Tingkat Edukasi</strong>
    </th>
    <th>
      <strong>Nama Ibu Kandung</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.edukasi }}</td>
    <td>{{ detail.namaIbuKandung }}</td>
  </tr>
  <tr>
    <th>
      <strong>Status Pernikahan</strong>
    </th>
    <th>
      <strong>Tanggal Pengajuan</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.statusNikah }}</td>
    <td>{{ detail.tanggalPengajuan }}</td>
  </tr>
  <tr>
    <th>
      <strong>Status Pengajuan</strong>
    </th>
    <th>
      <strong>&nbsp;</strong>
    </th>
  </tr>
  <tr>
    <td>{{ detail.statusPengajuan }}</td>
    <td>&nbsp;</td>
  </tr>
</table>

{# Data keluarga terdekat #}
<table>
  <caption>Data Keluarga Terdekat</caption>
  <tr>
    <th><strong>Nama Kontak Darurat</strong></th>
    <th><strong>Hubungan</strong></th>
  </tr>
  <tr>
    <td>{{ detail.emergencyRelation.namaKontakDarurat }}</td>
    <td>{{ detail.emergencyRelation.hubungan }}</td>
  </tr>
  <tr>
    <td colspan="2"><strong>Alamat Tempat Tinggal</strong></td>
  </tr>
  <tr>
    <td colspan="2">{{ [detail.emergencyRelation.alamat1, detail.emergencyRelation.alamat2, detail.emergencyRelation.alamat3]|join(' ') }}</td>
  </tr>
  <tr>
    <th><strong>Kota</strong></th>
    <th><strong>No. Handphone</strong></th>
  </tr>
  <tr>
    <td>{{ detail.emergencyRelation.emergencyCity }}</td>
    <td>{{ detail.emergencyRelation.noTelp }}</td>
  </tr>
</table>

{# Data pekerjaan #}
<table>
  <caption>Data Pekerjaan</caption>
  <tr>
    <th><strong>Nama Perusahaan</strong></th>
    <th><strong>Total Pegawai</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.namaPerusahaan }}</td>
    <td>{{ detail.jobInfo.totalPegawai }}</td>
  </tr>
  <tr>
    <th><strong>Kategori Pekerjaan</strong></th>
    <th><strong>Status Pekerjaan</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.kategoriPekerjaan }}</td>
    <td>{{ detail.jobInfo.statusPekerjaan }}</td>
  </tr>
  <tr>
    <th><strong>Bidang Pekerjaan	</strong></th>
    <th><strong>Sub Bidang Pekerjaan		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.bidangPekerjaan }}</td>
    <td>{{ detail.jobInfo.subBidangPekerjaan }}</td>
  </tr>
  <tr>
    <th><strong>Title Pekerjaan	</strong></th>
    <th><strong>Bekerja Sejak		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.titelPekerjaan }}</td>
    <td>{{ detail.jobInfo.bekerjaSejak }}</td>
  </tr>
  <tr>
    <td colspan="2"><strong>Alamat Kantor					</strong></td>
  </tr>
  <tr>
    <td colspan="2">{{ detail.jobInfo.alamatPerusahaan1 }}</td>
  </tr>
  <tr>
    <th><strong>Kota	</strong></th>
    <th><strong>Kode Pos Kantor		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.kotaPerusahaan }}</td>
    <td>{{ detail.jobInfo.kodePos }}</td>
  </tr>
  <tr>
    <th><strong>No. Telp Kantor	</strong></th>
    <th><strong>Penghasilan (Per-Tahun)		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.jobInfo.teleponPerusahaan }}</td>
    <td>{{ detail.jobInfo.penghasilanPerTahun }}</td>
  </tr>
</table>

{# Informasi rekening BRI #}
<table>
  <caption>Informasi Rekening BRI</caption>
  <tr>
    <td colspan="2"><strong>No. Rekening</strong></td>
  </tr>
  <tr>
    <td colspan="2">{{ detail.rekening.no }}</td>
  </tr>
</table>


{# Autodebet #}
<table>
  <caption>Auto Debet</caption>
  <tr>
    <th><strong>No. Rekening</strong></th>
    <th><strong>Sebesar		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.autodebet.noRekening }}</td>
    <td>{{ detail.autodebet.sebesar }}</td>
  </tr>
  <tr>
    <th><strong>BRI Protection Plus	</strong></th>
    <th><strong></strong></th>
  </tr>
  <tr>
    <td>{{ detail.autodebet.protectionPlan }}</td>
    <td></td>
  </tr>
</table>

{# Dokumen pribadi #}
<table>
  <caption>Dokumen Pribadi</caption>
  <tr>
    <th><strong>KTP	</strong></th>
    <th><strong>Swafoto KTP		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.documents.ktpId ? 'Ada' : '-' }}</td>
    <td>{{ detail.documents.swafotoKtpId ? 'Ada' : '-' }}</td>
  </tr>
  <tr>
    <th><strong>NPWP	</strong></th>
    <th><strong>Slip Gaji		</strong></th>
  </tr>
  <tr>
    <td>{{ detail.documents.npwpId ? 'Ada' : '-' }}</td>
    <td>{{ detail.documents.slipGajiId ? 'Ada' : '-' }}</td>
  </tr>
</table>
